@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

body {
    background-color: white;
    width: 100%;
    height: 100%;
    font-family: Questrial, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    margin:0;
    padding: 0;
    overflow-x: hidden;
    box-sizing:border-box;
    letter-spacing: 0.1em;
    }   

h1 {
    width:50%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    margin-bottom:0;
    }

    
h2 {
    color: rgb(77, 131, 84);
    font-weight: bold;
    font-size: 2em;
    padding: 0;
    margin: 0 0 1rem 0;
    text-align: center;
}

h3 {
    color: rgb(77, 131, 84);
    font-weight: bold;
    font-size: 1.5em;
    padding: 0;
    margin: 0 0 1rem 3rem;
   
}

/** Header **/

header {
    padding: 0rem 0rem;
    }

.name {
    display:none;
    }

.namemobiel {
    display:block;
    max-width:5em;
    max-height:5em;
    margin-top:0;
    padding-top:0;
}

.nav_checkbox {
    display:none;
    }   

label{
    display: inline;
    cursor: pointer;
    }

.nav_toggle {
    position:absolute;
    cursor:pointer;
    margin:1.5rem 3rem;
    right:0;
    }

.hamburgericon {
    width:5vw;
    height:5vw;
    }

.nav_menu {
    display:flex;
    flex-direction:column;
    text-align: right;
    gap:1rem;
    padding-right:2rem;
    }

li {
    list-style: none;
    display:none;
    padding-right: 1rem;
    }
    
li:first-child {
    margin-right:auto;
    }

.nav_menu a {
    text-decoration:none;
    color: black;
    }

.nav_menu a.active {
    color:grey;
    }
    
.nav_menu a:hover {
    color: grey
    }

.nav_checkbox:checked ~ ul.nav_menu li {
    display: block;
    }

/** Grote foto op index.html **/

.toppicture {
    width: 100%;
    height: 100%;
    object-fit:fill;
}

/** Quote op index.html **/

#quote {
    width: auto;
    background-color: rgb(77, 131, 84);
    color: white;
    text-align: center;
    margin: 1rem 3rem;
    padding:1rem;
}

#quotetitle {
    font-size: 1.5em;
    font-weight:bolder;
    font-variant: small-caps;
    letter-spacing: 0.3em;
}

#quotetext {
    font-size: 0.6em;
    letter-spacing: 0.1em;
    margin: 1rem 0.5rem;
}

/** Over mij op index.html **/

#id {
    width: 100%;
    margin-top: 1rem;
}

.circle-image {
    grid-area:circle-image;
    display:block;
    background-size: cover;
    width: 50%;
    margin: 1rem auto;;
    border-radius: 50%;
}

.indextitle{
    grid-area:indextitle;
    width:100%;
    color: rgb(77, 131, 84);
    font-weight: bold;
    font-size: 1.6em;
    padding: 0;
    margin-top:0;
    margin-bottom:0.5rem;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.idtext {
    grid-area:idtext;
    width: 50%;
    margin: 0;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

.indexbutton {
    grid-area:indexbutton;
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100%;
    font-size: 1em;
    background-color: rgb(77, 131, 84);
    border-radius: 1em;
    border: none;
    margin-left: auto;
    margin-right: auto;
    cursor:pointer;
}

.indexbutton a{
    color:white;
}

/** Fotolinks naar portfolio op index.html **/

a {
    text-decoration: none;
}

.container1 {
    grid-area:container1;
    width: 100%;
    height:100vw;
    margin-bottom: 0;
    padding-bottom:0;
    border:0;
}

.container2 {
    grid-area:container2;
    width: 100%;
    height:100vw;
    margin-bottom: 0;
    padding-bottom:0;
    border:0;
}

.gallery1, .gallery2 {
    display: grid;
    position: relative;
    grid-template-columns:repeat(1);
    grid-template-rows: repeat(2);
    grid-row-gap: 0;
    margin:0;
    padding:0;
    border:0;
    grid-template-areas:
        "container1"
        "container2";
}

.natuurfotoindex {
    width:100%;
    max-height:100vw;
    position: relative;
    margin:0;
    padding:0;
    border: 0;
    object-fit:cover;
}

.portretfotoindex {
    width:100%;
    max-height:100vw;
    position: relative;
    margin:0;
    padding:0;
    border: 0;
    object-fit:cover;
}

.portretfotoindex:hover, .natuurfotoindex:hover{
    opacity: 0.5;
}

#titleleft, #titleright {
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 50vw;
    width: 100%;
    font-size:1.25em;
    z-index: 1;
    color: white;
    font-weight: bold;
    font-variant:small-caps;
    line-height: 0.8em;
    letter-spacing: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
}

/** Quote op portfolio.html **/

#quote2 {
    background-color: rgb(77, 131, 84);
    color: white;
    text-align: center;
    width:auto;
    margin: 1rem 3rem 0rem 3rem;
    padding:2rem 1rem;
    box-sizing: border-box;
}

#quotetitle2 {
    width:auto;
    margin-left:1rem;
    margin-right:1rem;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.3em;
}

#quotetekst2 {
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 1rem 1rem;
}

div.containers {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "containerportfolio1"
    "containerportfolio2";
}
div.containerportfolio1 {
    grid-area:containerportfolio1;
    width: auto;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    padding: 0;
    border: 0;
}

div.portfolio1 {
    position: relative;
    margin:0;
    padding:0;
    border: 0;
}

div.containerportfolio2{
    grid-area:containerportfolio2;
    width: auto;
    margin: 1rem 3rem;
    padding: 0;
    border: 0;
}

div.portfolio2 {
    display: grid;
    position: relative;
    grid-template-columns:repeat(1);
    grid-template-rows: repeat(1);
    grid-row-gap: 0;
    margin:0;
    padding:0;
    border: 0;
}

.portretfotoportfolio, .natuurfotoportfolio {
    width:100%;
    max-height:60vw;
    position: relative;
    padding:0;
    border:0;
    object-fit: cover;
}

.portretfotoportfolio:hover, .natuurfotoportfolio:hover {
    opacity: 0.5;
}

#titleleft3, #titleright4{
    position: absolute;
    display: flex;
    justify-content: center;
    text-align: center;
    top: 25vw;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    color: white;
    font-size: 1.25em;
    font-weight: bold;
    font-variant:small-caps;
    line-height: 0.8em;
    letter-spacing: 0.2em;
    font-family: Arial, Helvetica, sans-serif;
}

/** Gallery Portretportfolio en Natuurportfolio **/

.gallery {
    margin:1rem 3rem;
    display: grid;
    box-sizing:border-box;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax (min-content, max-content);
    grid-gap:1rem;
}

figure {
    margin:0;
}

.item {
    width:100%;
    height:100%;
    object-fit: cover;
    display: block;
    margin:0;
}

#containerportret, #containernatuur {
    width: auto;
    background-color: rgb(77, 131, 84);
    color: white;
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 1rem;
    padding:2rem 1rem;
    box-sizing:border-box;
}

#portrettitle, #natuurtitle {
    font-size:0.9em;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.3em;
    text-align: left;
    padding:5rem 0 2rem 1rem;
}

/** Main op info.html **/

.infofoto img{
    grid-area:infofoto;
    width:50%;
    display:block;
    margin-left: auto;
    margin-right:auto;
    margin-top: 0;
    margin-bottom: 1rem;
}

.infotitle {
    grid-area:infotitle;
    width:100%;
    color: rgb(77, 131, 84);
    font-weight:bold;
    font-size:1.6em;
    margin:1rem 3rem;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
}

.idtext2 {
    grid-area:idtext2;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.idtext3{
    grid-area:idtext3;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

hr {
    width: 30%;
    size: 5;
    color:black;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/** Contact **/

.contact {
    margin: 0 3rem;
}

.column1 {
    grid-area: column1;
    width:auto;
    margin-left: 3rem;
    margin-right: 3rem;
    background-color:rgb(77, 131, 84);
    font-size:1em;
    padding:2rem 2rem 2rem 1rem;
    box-sizing:border-box;
    text-align:center;
}

.column1 span. {
    display:block;
    text-align:center;
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

.column1centreren {
    width:90%;
    height:100%;
    margin-left:auto;
    margin-right:auto;
    margin-top: 5%;
    margin-bottom:auto;
   }

.mailicon, .telicon, .adresicon {
    width:10%;
    display:block;
    padding:1rem;
    margin-left:auto;
    margin-right:auto;
}

.column2 {
    grid-area:column2;
    margin-left: 3rem;
    margin-right: 3rem;
    position:relative;
    padding-bottom: 56.25%;
    padding-top:30px;
    height:0;
    overflow:hidden;
}

iframe, object, embed {
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
}

form {
    text-align: center;
    width: auto;
    margin-left: 3rem;
    margin-right: 1rem;
    box-sizing: border-box;
    padding:0;
}

input {
    width:auto;
    margin:1rem 1rem 1rem 3rem;
    font-size: 1em;
    padding-top:1rem;
    padding-bottom: 1rem;
    padding-left:1rem;
    padding-right:0;
    border:0;
    border-radius:0;
    box-sizing:border-box;
    border-bottom: 2px solid black;

}

textarea {
    width:auto;
    margin:1rem 1rem 1rem 3rem;
    font-size: 1em;
    padding-top: 6rem;
    padding-bottom:0;
    padding-left:1rem;
    padding-right:0;
    border: 0;
    border-radius:0;
    box-sizing: border-box;
    border-bottom: 2px solid black;
}

.contactverzenden {
    background-color: rgb(116, 148, 112);
    font-size:1em;
    padding: 1rem;
    border-radius: 0;
    width: 50%;
    display: block;
    margin:1rem 3rem;
    border:0;
    color:white;
}

.contactcontainers {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "column1"
    "column2";
}

/** Footer **/

footer {
    background-color:rgb(76, 129, 87);
    color:white;
    text-align: center;
    width:100%;
    padding: 3rem 4rem;
    padding-left:0;
    margin:0.2rem 0 0 0;
    display:inline-block;
}

footer a{
    text-decoration: none;
    color:white;
    padding: 0rem;
    margin: 0rem;
}

.footermenu {
    margin:0 0.5rem;
}

.facebook, .instagram, .mail {
    display:inline-block;
    width:3vw;
    height:3vw;
    margin:0;
    padding:0;
}

.mail {
    padding-left:0;
    padding-right:1rem;
}

.copyright {
    text-align: center;
    font-variant: small-caps;
    font-size:0.3em;
    width:80%;
    margin-left:auto;
    margin-right:auto;
    line-height:1em;
    padding-top: 3rem;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}





/** Media Queries **/

@media only screen and (min-width:400px){

    body {
        font-size:1em;
    }

    h3 {
        margin-left:4rem;
    }

    /** Media Queries Header **/

    .nav_menu{
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        padding: 0 2rem 1rem 2rem;
        margin:0;
    }

    .name {
        display:inline-block;
        width:30%;
        margin-top:1em;
    }

    .namemobiel {
        display:none;
        }

    .nav_toggle {
        display:none;
    }

    .nav_menu li{
        display:inline-block;
        height:100%;
        margin-top:auto;
        margin-bottom:auto;
    }


    /** Media Queries index.html **/
   
    .toppicture {
        height: 50vw;
    }
    
    #quote {
        margin:1rem 8rem;
    }

    #quotetext {
        font-size: 0.8em;
    }
        
    #id {
        display:grid;
        width:100%;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 2em auto;
        grid-template-areas: "indextitle circle-image"
        "idtext circle-image";
        margin:0;
        padding:0;
        column-gap:1rem;
        row-gap:1rem;
    }

    .indextitle{
        text-align:left;
        margin:2rem 1rem 0 8rem;
        padding:0;
        width:100%;
    }
       
    .idtext {
        text-align:left;
        width:100%;
        margin:1rem 1rem 0 8rem;
        padding:0 1rem 0 0;
    }

    .circle-image {
        max-width:100%;
        max-height:200%;
        margin-right:8rem;
    }
       
    .indexbutton {
          margin:0;
          padding:0;
          width:50%;
    }

    .container1, .container2 {
        width:49.68vw;
        height:50vw;
        display:inline-block;
        box-sizing:border-box;
        margin:0;
        padding:0;
    }
    
    .gallery1, .gallery2 {
    display: grid;
    position: relative;
    grid-template-columns:repeat(2);
    grid-template-rows: repeat(1);
    grid-row-gap: 0;
    margin:0;
    padding:0;
    border:0;
    grid-template-areas:
        "container1 container2";
}

    .gallery1, .gallery2{
        margin:0;
        border:0;
    }
    
    .portretfotoindex, .natuurfotoindex{
        width:100%;
        height:50vw;
        display:inline-block;
        margin:0;
        padding:0;
    }

    #titleleft, #titleright{
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 25vw;
        width: 100%;
        z-index: 1;
        color: white;
        font-size: 3em;
        font-weight: bold;
        font-variant:small-caps;
        line-height: 0.8em;
        letter-spacing: 0.2em;
        font-family: Arial, Helvetica, sans-serif;
    }

    /** Media Queries Portfolio.html**/

    #quote2 {
        margin:1rem 4rem;
    }
    div.containers {
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:auto;
        grid-template-areas: "containerportfolio1 containerportfolio2";
        margin: 0 4rem 1rem 4rem;
        padding:0;
        column-gap:0rem;
        row-gap:0rem;
    }

    div.containerportfolio1 {
        margin:0;
        padding:0;
    }

    div.containerportfolio2 {
        margin:0;
        padding:0;
    }
    
    #titleleft3, #titleright4 {
        font-size:2.5em;
        top:15vw;
    }

    .portretfotoportfolio {
        height: 28.5vw;
    }

    .natuurfotoportfolio {
        height:28.5vw;
    }

    /** Media Queries info.html **/
    
    .info {
        display:grid;
        grid-template-columns: 2fr 1fr 1fr;
        grid-template-rows:auto;
        grid-template-areas:
        "infofoto idtext2 idtext3";
        column-gap:1rem;
        row-gap: 1rem;
        margin:1rem 0;
        padding:0;
    }

    .infofoto {
        display:inline-block;
        width:100%;
        margin: 0 0 0 0;
        padding:0;
    }
    
    .idtext2 {
        margin:0;
        padding:0;
        text-align:left;
    }

    .idtext3 {
        margin:0;
        padding-right:4rem;
        text-align:left;
    }

    hr {
        display:none;
    }

    /** Media Queries portfolio portret en natuur **/

    #containerportret {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }

    #containernatuur {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
    }
    
    #portrettitle, #natuurtitle {
        font-size:1.25em;
    }

    .gallery {
        display: grid;
        grid-auto-columns:1fr 1fr 1fr;
        grid-auto-rows: minmax (min-content, max-content);
        width: 100%;
        margin:1rem 0;
        grid-gap:1rem;
        padding-right:1rem;
        padding-left:1rem;
    }

    .item {
        width:100%;
        height:100%;
        object-fit: cover;
        display: block;
    }
    
    .natuur_item1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    
    .portret_item5, .natuur_item4 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .portret_item7, .natuur_item7 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }
    
    .portret_item10, .natuur_item8 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .portret_item11 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    /** Media Queries Contact **/
    
    .contact {
        margin: 0 4rem;
    }

    .column1 {
        grid-area: column1;
        display:inline-block;
        width:auto;
        height:fit-content;
        margin-left: 4rem;
        margin-right:0;
    }
    
    .column1 span {
        display:inline-block;
        padding-left:0.5rem;
        text-align:center;
        width:80%;
        margin-left:0.5rem;
    }

    .mailicon {
        display:inline-block;
        width:10%;
        padding: 1rem 0.5rem;
        margin-left:1rem;
    }

    .telicon {
        display:inline-block;
        width:10%;
        padding: 1rem 0.5rem;
        margin-left:1rem;
    }

    .adresicon {
        display:inline-block;
        width:10%;
        padding: 1rem 0.5rem;
        margin-left:1rem;
    }

    .column1centreren {
        width:auto;
        margin-left:1rem;
        margin-right:0;
        margin-top: 0;
        margin-bottom:0;
    }

    .column2 {
        grid-area:column2;
        margin-left: 0;
        margin-right: 2rem;
        position:relative;
        padding-bottom: 56.25%;
        padding-top:30px;
        height:4.4vw;
        overflow:hidden;
    }

    iframe, object, embed {
        width:100%;
        height:100%;
        position:absolute;
        top:0;
        left:0;
    }
    
    form {
        margin:0;
        grid-area:column3;
    }
        
    .contactverzenden {
        width:50%;
    }
        
     .contactcontainers {
        display:grid;
        margin: 0;
        padding:0;
        column-gap:0rem;
        row-gap:0rem;
        box-sizing:border-box;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
         "column1 column2 column3"
    }
        
    /** Media Queries Footer **/
        
    .footermenu {
        margin:0 2rem;
    }
    
    .mail {
        margin-left:1rem;
    }
        
    .copyright {
        font-size:0.6em;
    }

@media only screen and (max-width:500px) {

    body {
        font-size:1em;
    }
}
